{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}

  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

  </style>

  <form method="post" class="form-signin">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <div class="form-group">
      {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    </div>
    <div class="form-group">
      {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}
    </div>

    <div class="form-group">
      {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    </div>

    <div class="form-group">
      {{ form.confirm(class_ = 'form-control', placeholder = form.confirm.label.text, required = true) }}
    </div>

    <div class="form-group">
      {{ form.program(class_ = 'form-control', placeholder = "Program", required = true) }}
    </div>

    <div class="form-group">
      {{ form.concentration(class_ = 'form-control', placeholder = "Concentration", required = true) }}
    </div>

    <div class="form-group">
      <p class="pull-right"><a href="{{ url_for('login') }}">Login</a></p>
      {{ form.submit(class_ = 'btn btn-primary btn-lg btn-block') }}
    </div>
  </form>
{% endblock %}
