{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Start Window -->
<div class="container-fluid" >

	<!-- Padding Row -->
	<div class="row">&nbsp;</div>
	
	<!-- Start Main Row -->
	<div class="row">
	
		<!-- Start Left Column -->
		<div class="col-xs-12 col-md-12">
		
			<!-- Start User Info Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Users</h4>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user_obj in users %}
						<tr>
							<td>{{ user_obj.name }}</td>
							<td>{{ user_obj.email }}</td>
							<td>{{ user_obj.role.name }}</td>
							<td>
								<a class="btn btn-primary" href="/editUser/{{ user_obj.id }}">
								  Edit
								</a>
							</td>
							<td>
								{% if user_obj.role.name == "Student" %}
								<a class="btn btn-primary" href="/profile/{{ user_obj.id }}">
								  Login As
								</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- End User Info Panel-->
			
		</div>
		<!-- End Left Column -->
		
	</div>
	<!-- End Main Row -->
	
	<!-- Padding Row -->
	<div class="row">&nbsp;</div>
	
</div>
<!-- End Window -->

{% endblock %}
