{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Start Window -->
<div class="container-fluid" >

	<!-- Padding Row -->
	<div class="row">&nbsp;</div>
	
	<!-- Start Main Row -->
	<div class="row">
	
		<!-- Start Left Column -->
		<div class="col-xs-12 col-md-6">
		
			<!-- Start User Info Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Student Information</h4>
				</div>
				<table class="table table-striped">
					<tr>
						<td>Username:</td>
						<td>{{ user.name }}</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<td>Program:</td>
						<td>{{ user.program }}</td>
					</tr>
					<tr>
						<td>Concentration:</td>
						<td>{{ user.concentration }}</td>
					</tr>
					<tr>
						<td>Starting Quarter:</td>
						<td>{{ "{} {}".format(user.start_term, user.start_year) }}</td>
					</tr>
					<tr>
						<td>Delivery Preference:</td>
						<td>{{ user.delivery_type }}</td>
					</tr>
					<tr>
						<td>Classes per Quarter:</td>
						<td>{{ user.classes_per_term }}</td>
					</tr>
				</table>
			</div>
			<!-- End User Info Panel-->
			
			<!-- Start Course History Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Course History</h4>
				</div>
				<div class="panel-body">
					<p>
					{% if courses_taken %}
						{% for course in courses_taken %}

							{{ course }}

						{% endfor %}
					{% else %}
						No Courses Taken
					{% endif %}
					</p>
				</div>
			</div>
			<!-- End Course History Panel-->
			
			<!-- Start Degree Progress Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Degree Progress</h4>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ (degree_credits / 24) * 100 }}%">{{ degree_credits }} Credits Completed</div>
					</div>
				</div>
			</div>
			<!-- End Degree Progress Panel -->
			
		</div>
		<!-- End Left Column -->
	
		<!-- Start Right Column -->
		<div class="col-xs-12 col-md-6">
		
			<!-- Start Path Panel -->
			<div class="panel panel-default">
			
				<!-- Start Path Header -->
				<div class="panel-heading">
					<h4>Path to Graduation</h4>
				</div>
				<!-- End Path Header -->
				
				<!-- Start Path Body -->
				<div class="panel-body overflow">
					<!-- Start Path Loop -->
					{% if path %}
						{% for term in path %}
						<h4>{{ term }}</h4>
						<div style="background: #ecf3fd; padding: 20px; border-radius: 10px;">
							<ul>
								<!-- Start Term Loop -->
								{% for course in path[term] %}
								<li>{{ course }}</li>
								{% endfor %}
								<!-- End Term Loop -->
							</ul>
						</div>
						{% endfor %}
					{% elif last_path %}
						{% for term in last_path %}
						<h4>{{ term }}</h4>
						<div style="background: #ecf3fd; padding: 20px; border-radius: 10px;">
							<ul>
								<!-- Start Term Loop -->
								{% for course in last_path[term] %}
								<li>{{ course }}</li>
								{% endfor %}
								<!-- End Term Loop -->
							</ul>
						</div>
						{% endfor %}				
					{% else %}
						<h4>{{ term }}</h4>
						<div style="background: #ecf3fd; padding: 20px; border-radius: 10px;">
						  <p>No path</p>
						</div>
					{% endif %}
					<!-- End Path Loop -->
					
				</div>
				<!-- End Path Body -->
				
				<!-- Start Path Footer -->
				<div class="panel-footer">
					<div class="btn-group btn-group-justified">
						<a href="/getPath/{{ user.id }}" class="btn btn-primary">New Path</a>
						<a href="/savePath/{{ user.id }}" class="btn btn-danger">Save Path</a>
					</div>
				</div>
				<!-- End Path Footer -->
				
				
			</div>
			<!-- End Path Panel -->
			
		</div>
		<!-- End Right Column -->
		
	</div>
	<!-- End Main Row -->
	
	<!-- Padding Row -->
	<div class="row">&nbsp;</div>
	
</div>
<!-- End Window -->

{% endblock %}
